<div class="nav-header fixed"></div>
<div id="picture"><img src="../../../../../assets/img/11394849.jpg" class="d-block img-fluid">
</div>
<div class=" words">
  <h1>
    We are the Connection you Need!
  </h1>
  <div class="services">
    <h2>Our Services </h2>
  </div>

</div>
<div class="container-fluid">

  <div class="row">
    <div class="servicestext col-md-6">
      <h1>browse </h1>
    </div>
    <div class="col">
      <div id="picture1">
        <img src="../../../../../assets/img/sample1.jpg" class="d-block img-fluid">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="picture1">
        <img src="../../../../../assets/img/sample1.jpg" class="d-block img-fluid">
      </div>
    </div>
    <div class="servicestext  col-md-6">
      <h1>We go buy for you</h1>
    </div>
  </div>
  <div class="row">
    <div class="servicestext col-md-6">
      <h1>We bring your goods infront of your door step</h1>
    </div>
    <div class="col">
      <div id="picture1">
        <img src="../../../../../assets/img/sample1.jpg" class="d-block img-fluid">
      </div>
    </div>
  </div>
</div>