<div class="nav-header fixed"></div>

<main class="push-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="checkout-nav" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/', 'cart']">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container content-container">
        Order
    </div>
</main>

<div class="main-footer"></div>