.cart-container {
    padding: 25px 100px 0 80px;
    margin-bottom: 125px;
}

.continue-shopping {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 25px;
    margin-top: 12px;

    i {
        margin-right: 8px;
        font-size: 25px;
    }
}

.clear-cart {
    float: right;
    margin-top: 8px;
}

.summary-container {
    padding-right: 70px;
}

.cart-item {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
            display: inline-block;
            margin-right: 15px;
        }
    }

    .item-image {
        height: 100px;
        width: 100px;
        margin-right: 30px !important;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .item-name {
        width: 255px;

        >div {
            line-height: 14px;

            a {
                color: #1e1e1e;
                font-size: 14px;
                font-weight: 500;
            }
        }

        >a {
            color: #797979;
            font-size: 12px;
        }
    }

    .item-quantity {
        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        input {
            width: 55px;
            border-radius: 4px;
            border: 1px solid #797979;
            padding: 2px 6px;
            height: 32px;
            text-align: center;
            color: #464646;
        }

        button {
            height: 32px;
            border: none;
            background-color: transparent;
            font-size: 13px;
            width: 32px;
            outline: none;
        }

        .minus-quantity {
            margin-right: 5px;
        }

        .add-quantity {
            margin-left: 5px;
        }
    }

    .item-price {
        width: 140px;
        text-align: center;
    }

    .item-remove {
        span {
            font-size: 29px;
            cursor: pointer;
        }
    }
}

.cart-items {
    min-height: 275px;

    .cart-item:not(:last-child) {
        margin-bottom: 18px;
        padding-bottom: 18px;
        border-bottom: 1px dashed #959595;
    }
}

.cart-summary {
    padding: 25px 35px;
    background-color: #40424a;
    color: #fff;
    border-radius: 10px;

    h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .summary {
        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;
            position: relative;

            li {
                display: inline-flex;

                &:first-child {
                    color: #cecece;
                }

                &:last-child {
                    position: absolute;
                    right: 0;
                }
            }

            li.subtotal {
                font-size: 20px;
            }
        }
    }

    .summary.subtotal {
        border-top: 2px dashed #cecece;
        padding-top: 30px;
        margin-top: 30px;
    }

    button {
        height: 38px;
        width: 100%;
        margin-top: 28px;
    }
}

.empty-cart {
    text-align: center;
    padding-top: 35px;

    h2 {
        font-weight: 300;
        font-size: 18px;
    }

    .continue-shopping {
        margin-top: 0;
        font-size: 14px;
    }

    .empty-image {
        margin: 20px 0;
        height: 200px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.cart-loader {
    justify-content: center;
    height: 350px;
    display: flex;
    padding-top: 100px;

    img {
        height: 80px;
    }
}