.header-nav {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 30px;
    will-change: auto;
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    >div.container {
        @media (max-width: 991px) {
            max-width: 100%;
        }

        @media (max-width: 442px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .row {
        margin: 0;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.25);
        background-color: #FBFBFB;
        border-radius: 6px;
    }

    .logo {
        padding: 3px 0 3px 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        @media (max-width: 442px) {
            padding-left: 18px;
        }

        img {
            height: 69px;
        }
    }

    .header-nav-txt {
        padding-left: 40px;
        margin-left: -50px;
        display: flex;
        align-items: center;
        position: relative;

        .nav-txt-content {
            width: 100%;
            text-align: end;
            padding-right: 20px;
            position: relative;

            @media (max-width: 795px) {
                padding-right: 0;
            }
        }

        .nav-txt-content>ul {
            padding: 0;
            margin: 0;
            display: block;

            >li:not(.signup) {
                line-height: 75px;
                height: 75px;
            }

            >li.signup {
                margin-left: 8px;
            }

            >li {
                position: relative;
                display: inline-block;
                margin-right: 4px;
                text-align: center;

                >a {
                    display: block;
                    height: 100%;
                    color: #636363;
                    width: 100%;
                    position: relative;
                    text-decoration: none;
                    transition: color 0.2s ease-in-out;
                    padding: 0 13px;

                    &:before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        opacity: 0;
                        left: 0;
                        bottom: 0;
                        transition: opacity 0.2s ease-in-out;
                        background-color: #ee3e3e;
                    }

                    &:hover {
                        color: #8d8b8b;

                        &:before {
                            opacity: 1;
                        }
                    }

                    .cart-count {
                        position: absolute;
                        line-height: initial;
                        top: 15px;
                        padding: 1px 4px;
                        font-size: 12px;
                        background-color: #ee3e3e;
                        color: #fff;
                        border-radius: 3px;
                        right: 0px;
                    }
                }
            }

            >li.show a {
                color: #8d8b8b;

                &:before {
                    opacity: 1;
                }
            }

            >li.active {
                a {
                    color: #e04343 !important;

                    &:before {
                        opacity: 1;
                    }
                }
            }

            >li.signup {

                a {
                    font-size: 11px;
                    padding: 8px 14px;
                    border-radius: 4px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #FEFEFE;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                    &:hover {

                        &:before {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.nav-dropdown {

    li {
        line-height: 23px !important;
        height: 30px !important;

        a {
            font-size: 13px;
            padding: .25rem 1rem !important;
            color: #16181b !important;

            &:hover,
            &:active {
                color: #16181b;
                background-color: #d7d7d7;
            }

            i {
                width: 15px;
                text-align: center;
            }
        }
    }


}

.delivery-address {
    position: absolute;
    left: 65px;
    top: 0;
    height: 100%;
    text-align: left;
    padding-top: 18px;
    width: 140px;

    @media (max-width: 460px) {
        left: 18px;
    }

    .delivery-label {
        font-size: 12px;
        color: #979797;
        padding-left: 10px;
    }

    .delivery-options {
        cursor: pointer;
        font-weight: 500;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;
        padding: 3px 10px;
        border-radius: 3px;
        position: relative;
        display: flex;
        align-items: center;

        &:hover,
        &:focus {
            background-color: #eee;
        }

        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 12px;
        }

        i {
            position: absolute;
            right: 9px;
        }
    }
}

.header-nav.remove {
    animation: headerHide 0.5s linear;
}

.header-nav.fixed {
    top: -70px;
}

:host.fixed .header-nav {
    top: 0;
}

:host.fixed .header-nav,
.header-nav.fixed {
    position: fixed;
    transform: translate(0, 0);
    left: 0;
    width: 100%;

    .delivery-address {
        padding-top: 14px;
        left: 95px;

        @media (max-width: 460px) {
            left: 58px;
        }
    }

    >.container {
        width: 100%;
        max-width: none;
        padding: 0;

        >.row {
            border-radius: 0;
        }
    }

    .logo {
        box-shadow: none;
        height: 70px;
        border-radius: 0;
        padding-left: 40px;
        background-color: transparent;

        @media (max-width: 442px) {
            padding-left: 18px;
        }

        img {
            height: 68px;
        }
    }

    .header-nav-txt {
        padding: 0;

        &:before {
            background-color: transparent;
        }

        .nav-txt-content {
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;

            li:not(.signup) {
                line-height: 70px;
                height: 70px;
            }
        }
    }

    .nav-dropdown {
        ul {
            transform: translateX(-30px) !important;
        }
    }
}

.header-nav.fixed.show {
    animation: reveal 0.5s linear;
    transform: translate(0, 70px);
}

@keyframes reveal {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 70px);
    }
}

@keyframes headerHide {
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.navbar-toggler {
    outline: none;
}

@media (min-width: 760px) {

    .navbar-toggler {
        display: none;
        margin-top: 20px;
    }

    .nav-txt-content {

        .delivery-address {
            left: 50px;
        }

        .collapse-btn {
            height: 100%;
        }
    }

}

@media (max-width: 760px) {
    .navbar-toggler {
        margin-top: 20px;
    }

    .nav-txt-content {
        height: 100%;

        >ul {
            display: none !important;
        }
    }
}

.navbar-toggler-icon {
    background-image: url("../../../../assets/img/icon/menu-left.svg");
}

.collapsed-list {
    padding: 6px 0 0;
    border-top: 1px solid#ddd;
    margin-top: 6px;

    li,
    a {
        display: block;
    }

    a {
        padding: 10px 15px;
        text-decoration: none;
        color: #636363;
        transition: background-color 0.2s ease-in-out;
        background-color: transparent;

        &:hover{
            background-color: #e8e8e8;
        }
    }

    li.active a{
        background-color: #e8e8e8;
    }
}